{% extends 'base.html' %}

{% block content %}
<div class = "mx-auto w-75 mt-4">
    <h4>Sentence</h4>
    <p class="mb-4">{{sentence}}.</p>
    <h4>Random words from Frankenstein</h4>
    {% for word in word_list %}
    <span>{{word}}</span><br>
    {% endfor %}
    <form action="/" method="GET">
        <div class="mt-4">
            <h4>Number of words in the sentence:</h4>
            <div class='row ml-1 '>
                <input class='form-control col-2 mr-2' name='num' id='num' type="text"/>
                <button class='btn btn-success col-2'>Reload Sentence</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}